/.idea
/build
/dist
/utype.egg-info
*/__pycache__
__pycache__/
*.py[cod]
.coverage
.obsidian
*/.coverage
*/.obsidian

/docs/build
*.sqlite3
*/restats
/.ext
# .ext/ is used to store per-developer files that helps development
/.pytest_cache
